# Les points d'entree C appelés par les fonctions R;
# Programmes de la librairie RCALI.so
useDynLib(RCALI, CALLcaliflopp)
# pour getpoly et polymap
import(splancs)
export(getRes, califlopp, fseed, fpollen, generPoly, generVois, crlistpoly)
export(readpoly1, readpoly2, plot.poly, as.poly)
export(export.listpoly, crpoly, range.listpoly, plot.listpoly)
# les methodes
S3method(plot, poly)
S3method(plot, listpoly)
S3method(range, listpoly)
S3method(export, listpoly)

